{% capture post_cycle %}{% cycle 'odd', 'even' %}{% endcapture %}

{% if post_cycle == 'odd' %}
<div class="post_row">
{% endif %}

<div class="post preview">
  <article class="post preview">
    <header>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    <section>
    {% case post.type %}
    {% when 'image' %}
      <a class="thumb" href="{{ post.url }}">{% picture post_preview {{ post.image }} %}</a>
    {% when 'youtube' %}
      {% youtube {{ post.video }} %}
    {% else %}
      {{ post.excerpt }}
    {% endcase %}
      <p>{{ post.preview }}</p>
    </section>
    <footer>
      <p>posted on {{ post.date | date: "%d %B %Y" }}</p>
      {% if post.categories %}
        <ul class="categories">
        {% for category in post.categories %}
          <li><a href="/categories/{{ category }}/">{{ category }}</a></li>
        {% endfor %}
      {% endif %}
    </footer>
  </article>
</div>

{% if post_cycle == 'even' or forloop.last %}
</div>
{% endif %}
