{% capture post_cycle %}{% cycle 'odd', 'even' %}{% endcapture %}

{% if post_cycle == 'odd' %}
<div class="post_row">
{% endif %}

<div class="post preview">
  <article class="post preview">
    <header>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    <section>
    {% if post.type == null or post.preview %}
      <div class="excerpt">
    {% endif %}
    {% case post.type %}
    {% when 'image' %}
      <div class="thumb">
        <a href="{{ post.url }}">{% picture post_preview {{ post.image }} %}</a>
      </div>
    {% when 'youtube' %}
      {% youtube {{ post.video }} %}
    {% else %}
      <p>{{ post.excerpt }}</p>
    {% endcase %}
    {% if post.preview %}
      <p>{{ post.preview }}</p>
    {% endif %}
    {% if post.type == null or post.preview %}
      </div>
    {% endif %}
    </section>
    <footer>
      {% if post.categories %}
        <ul class="categories">
        {% for category in post.categories %}
          <li><a href="/categories/{{ category }}/">{{ category }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      <p>{{ post.date | date: "%d %b %Y" }}</p>
    </footer>
  </article>
</div>

{% if post_cycle == 'even' or forloop.last %}
</div>
{% endif %}
