---
layout: default
title: Resume

resume:
  - type: section
    id: experience

  - type: entry
    name: Flowserve Corporation
    start: 2012-06-12
    end: present
    location: 27455 Tierra Alta Way, Temecula, CA 92590
    description: R &amp; D Engineer
    details:
      - description: Responsible for drop coalescence research project
        tasks:
          - Experiment setup, recording drop coalescence with high speed camera
          - Collected drop size information at critical time points
          - Transformed circumference pixel locations to drop radii, using Matlab code
          - Plotted data verses different fluid properties (Matlab)
          - Verified correlation with theory through data fitting (Matlab)
          - Presented results at fluid dynamics conference

  - type: section
    id: technical
    name: technical skills

  - type: list
    lists:
      - [ platforms, Microsoft Windows ]
      - [ tools, Lab View, Visual Studio ]

  - type: section
    id: languages

  - type: list
    lists:
      - [ english, fluent ]
      - [ russian, fluent ]
      - [ hebrew, fluent ]
---

<article id="resume">
  <h1>{{ page.title }}</h1>
  <nav data-magellan-expedition="fixed">
  <dl>
    <dt>{{ page.title }}</dt>
    {% for item in page.resume %}
      {% if item.type == 'section' %}

      {% if item.name %}
        {% assign title = item.name %}
      {% else %}
        {% assign title = item.id %}
      {% endif %}

      <dd data-magellan-arrival="{{ item.id }}"><a href="#{{ item.id }}">{{ title }}</a></dd>

    {% endif %}
  {% endfor %}
  </dl>
  </nav>

  {% for item in page.resume %}
    {% case item.type %}
    {% when 'section' %}

      {% if item.name %}
        {% assign title = item.name %}
      {% else %}
        {% assign title = item.id %}
      {% endif %}

      {% unless forloop.first %}</section>{% endunless %}
      <section>
        <div id="{{ item.id }}" class="magellan-destination" data-magellan-destination="{{ item.id }}"></div>
        <h2>{{ title }}</h2>
    {% when 'entry' %}
      <section class="entry">
        <h3 class="name">{{ item.name }}</h3>
        <p class="date">{{ item.start | date: "%m/%d/%Y" }}{% unless item.start == item.end %}–{{ item.end | date: "%m/%d/%Y" }}{% endunless %}</p>
        {% if item.info %}
          <section class="info">
            <p class="location">{{ item.location }}</p>
            {% if item.description %}<p class="description">{{ item.description }}</p>{% endif %}
          </section>
        {% endif %}
        {% if item.details %}
          <section class="details">
          {% for detail in item.details %}
            {% if detail.description %}
              <h4>{{ detail.description }}</h4>
            {% endif %}
            {% if detail.tasks %}
              <ul>
              {% for task in detail.tasks %}
                <li>{{ task }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          </section>
        {% endif %}
      </section>
    {% when 'list' %}
      <dl class="list">
      {% for list in item.lists %}
        {% for item in list %}
          {% if forloop.first %}
            <dt class="name">{{ item }}</dt>
              <div class="info">
          {% else %}
            <dd>{{ item }}</dd>
          {% endif %}
          {% if forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </dl>
    {% endcase %}
  {% endfor %}
</article>
