---
layout: default
title: Resume
contact:
  name: Sofy Kabachek
  methods:
    - type: phone
      value: 424.652.8584
    - type: email
      value: sofy.k87@gmail.com

---

<article id="resume" class="content">
  <header>
    <h1>{{ page.title }}</h1>
    <section class="contact">
      <h2>{{ page.contact.name }}</h2>
      <dl>
      {% for method in page.contact.methods %}
        <dt>{{ method.type }}</dt>
        <dd>{{ method.value }}</dd>
      {% endfor %}
      </dl>
    </section>
    <nav data-magellan-expedition="fixed">
    <dl>
      <dt>{{ page.title }}</dt>
      {% for item in page.resume %}
        {% if item.type == 'section' %}

        {% if item.name %}
          {% assign title = item.name %}
        {% else %}
          {% assign title = item.id %}
        {% endif %}

        <dd data-magellan-arrival="{{ item.id }}"><a href="#{{ item.id }}">{{ title }}</a></dd>

      {% endif %}
    {% endfor %}
    </dl>
    </nav>
  </header>

  {% for item in page.resume %}
    {% case item.type %}
    {% when 'section' %}

      {% if item.name %}
        {% assign title = item.name %}
      {% else %}
        {% assign title = item.id %}
      {% endif %}

      {% unless forloop.first %}</section>{% endunless %}
      <section>
        <div id="{{ item.id }}" class="magellan-destination" data-magellan-destination="{{ item.id }}"></div>
        <h2>{{ title }}</h2>
    {% when 'entry' %}
      <section class="entry">
        <h3 class="name">{{ item.name | markdownify | replace: '<p>','' | replace: '</p>','' }}</h3>
        <p class="date">{{ item.start | date: "%m/%Y" }}{% unless item.start == item.end %} – {{ item.end | date: "%m/%Y" }}{% endunless %}</p>
        {% if item.location %}<p class="location">{{ item.location | markdownify | replace: '<p>','' | replace: '</p>','' }}</p>{% endif %}
        {% if item.description %}<p class="description">{{ item.description | markdownify | replace: '<p>','' | replace: '</p>','' }}</p>{% endif %}
        {% if item.details %}
          <section class="details">
          {% for detail in item.details %}
            {% if detail.description %}
              <p>{{ detail.description | markdownify | replace: '<p>','' | replace: '</p>','' }}</p>
            {% endif %}
            {% if detail.tasks %}
              <ul>
              {% for task in detail.tasks %}
                <li>{{ task | markdownify | replace: '<p>','' | replace: '</p>','' }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          </section>
        {% endif %}
      </section>
    {% when 'list' %}
      <dl class="list">
      {% for list in item.lists %}
        {% for item in list %}
          {% if forloop.first %}
            <dt class="name">{{ item }}</dt>
              <div class="info">
          {% else %}
            <dd>{{ item }}</dd>
          {% endif %}
          {% if forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </dl>
    {% endcase %}
  {% endfor %}
</article>
