//
// Global styles
//

html
  background-color: $body-bg
  // force vertical scrollbar to prevent page jumps.
  overflow: scroll
  overflow-x: hidden
  overflow-y: scroll

@media #{$small}
  h2
    font-size: 0.7 * $h2-font-size

div.video.youtube
  +flex-video-container

code
  font-family: $code_font-family

//
// Core layout
//

// Header

header.fixed
  height: $topbar-height // needed to keep the sticky top bar correct height

nav.top-bar
  a
    text-transform: capitalize
  ul.icons li
    float: left

#site_name
  font-family: $site_name_font
  white-space: nowrap
  a
    color: $site_name_color

// Footer

#colophon
  text-align: center

// Content

#content
  +grid-row
  padding: 0 $content_padding

article.post
  ul.categories
    +inline-list
    li
      +label($bg: $secondary-color, $radius: 3px)

// Posts previews

section.posts
  +grid-row($behavior: nest-collapse)

div.post.preview
  padding-bottom: $post_preview_padding

article.post.preview
  background-color: $post_preview_bg
  border: $post_preview_border
  h2
    margin: 0
    padding: $post_preview_title_padding
    background-color: $post_preview_title_bg
  div.thumb
    text-align: center
  div.excerpt
    +panel
    div.highlight
      background-color: inherit
  footer
    margin-top: $paragraph-margin-bottom
    padding-left: $post_preview_footer_padding
    overflow: auto
    ul.categories
      float: left
    p
      float: right
      padding-right: $post_preview_footer_padding
      font-size: $post_preview_footer_font-size
      color: invert($post_preview_bg)

// Two column previews
@media #{$small}
  div.post_row
    +grid-row($behavior: nest-collapse)
    +grid-column($columns: 12, $center: true, $collapse: true)
  div.post.preview
    +grid-column($columns: 6, $collapse: true)
    padding-right: $post_preview_padding

// Single post

article.post.single
  +grid-column($columns: 12, $center: true)
  @media #{$small}
    +grid-column($columns: 10, $center: true)
  section.note
    padding: $note_padding
    @media #{$small}
      padding: 0 ( 2.5 * $note_padding )
  div.highlight
    +panel

//
// Page specific styles
//

#resume
  nav
    +sub-nav
    background-color: $body-bg
  > section
    +panel

  section.details p
    margin-bottom: emCalc(5)
  section
    // give magellan a target above the title
    position: relative
    div.magellan-destination
      visibility: hidden
      height: 0
      position: absolute
      top: (0  - 2 * $topbar-height )
      @media #{$small}
        top: (0  - 2 * $topbar-height )
