---
layout: default
---
<header class="head contain-to-grid{% unless page.unity3d %} sticky{% endunless %}">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 id="site_name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
    {% for item in site.data.navigation.header.left %}
      <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
    <ul class="right icons">
      {% for item in site.data.navigation.header.right  %}
        <li>
          <a href="{{ item.url }}" title="{{ item.name }}" class="{{ item.icon }}"></a>
        </li>
      {% endfor %}
    </ul>
  </section>
</nav>
</header>

{{ content }}

<footer id="colophon">
  <p><small>{{ site.name }} © {{ site.time | date: '%Y' }}</small></p>
  {% include social-buttons.html %}
</footer>
