---
layout: post
title: Corporate Espionage
---

<div>
  <div>
    {{ page.excerpt }}
  </div>
  <div style="padding:20px;">
    <div x-data="{ open: false }">
      <a @click="open = true" title="View large image">
        <figure class="image">
          <img src="{{ page.image }}" alt="{{ page.title }}">
        </figure>
      </a>
      <div class="modal" :class="{ 'is-active': open }">
        <div class="modal-background" @click="open = false"></div>
        <div class="modal-content">
          <img src="{{ page.image }}" alt="{{ page.title }}">
        </div>
        <button class="modal-close is-large" aria-label="close" @click="{ open = false }"></button>
      </div>
    </div>
  </div>
  <div>
    {{ content }}
  </div>
</div>
